@use 'sass:math';

$api-text-monospace-color: $secondary !default;
$api-text-monospace-background: rgba($api-text-monospace-color, 0.1) !default;
$api-anchors-list-background-color: #f6f7f9 !default;
$api-doc-list-item-title-color: #333 !default;
$api-doc-list-item-view-more-color: $api-doc-list-item-title-color !default;

.api-text-monospace {
  color: $api-text-monospace-color;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

.api-text-monospace-background {
  background-color: $api-text-monospace-background;
  border-radius: 2px;
  font-weight: 300;
  padding: 5px 6px;
}

.api-anchors-list {
  padding: 20px;
  background-color: $api-anchors-list-background-color;
  column-gap: 40px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 16px;

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  @include media-breakpoint-down(sm) {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
}

.api-anchors-list-item {
  display: grid;
  grid-template-columns: 0.75fr minmax(0, 1.25fr);

  &:hover {
    text-decoration: none;
  }
}

.api-anchors-list-item-title {
  align-self: center;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
}

.api-anchors-list-item-value {
  align-self: center;
  font-size: 14px;
  line-height: 1.5rem;
  white-space: nowrap;
}

.api-text-title {
  font-size: 14px;
  line-height: 1.5rem;
  margin-left: 20px;
}
.api-doc-list-item {
  &:last-child {
    border-bottom: none;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  &-contents {
    padding: 1rem;
  }

  &-title {
    color: $api-doc-list-item-title-color;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
  
  &-query {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5rem;
    word-break: break-all;
    word-wrap: break-word;
    padding: 0 0.5rem;
  
    > strong {
      font-weight: 700;
    }
  }
  
  &-text {
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
  }
  
  &-code-block {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0.5rem;
  }
  
  &-description {
    width: 100%;
  }
  
  &-controls {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 50px;
  
    @include media-breakpoint-down(sm) {
      flex-direction: row;
      justify-content: space-between;
      margin-left: 0;
      padding-top: 25px;
    }
  }
  
  &-controls-badges {
    display: flex;
    justify-content: flex-end;
  
    .api-badge {
      margin-right: 8px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  &-controls-view-more {
    align-self: flex-end;
    color: $api-doc-list-item-view-more-color;
    cursor: pointer;
    font-size: 14px;
    margin-top: auto;
    white-space: nowrap;
  
    .fa {
      margin-left: 5px;
    }
  }
}


[aria-expanded="false"] {
  .api-doc-list-item-controls-view-more-open {
    display: block;
  }
  .api-doc-list-item-controls-view-more-close {
    display: none;
  }
}

[aria-expanded="true"] {
  .api-doc-list-item-controls-view-more-open {
    display: none;
  }
  .api-doc-list-item-controls-view-more-close {
    display: block;
  }
}

.api-doc-list-item-contents{ 
  border-bottom: 1px solid #B0B3B6;
}

.api-doc-parameters-container {
  border-bottom: 1px solid #B0B3B6;
  padding: 1rem;
}

.api-doc-parameters-list {
  border-bottom: 1px solid #B0B3B6;
}

.api-doc-parameters-list-title {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  white-space: nowrap;
}

.api-doc-parameters-list-item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;

    [class*="col-"] {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.tab-content {
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
}

.api-doc-parameters-list-item-title {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
}

.api-doc-parameters-list-item-subtitle {
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;
}

.api-doc-parameters-list-item-description {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0;

  strong {
    font-weight: 700;
  }
}

.api-doc-list-item-code-block{
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
}